*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container img{
    width: 100%;
    height: 965px;
}
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #3366FF;
    color: white;
    font-size: 16px;
    padding: 16px 50px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: black;
    color: white;
  }
  .contentttt{
      width: 100%;
      height: 870px;
      display: flex;
      background-color: rebeccapurple;
      
  }
  .contentttt .left{
      width: 20%;
      height: 870px;
      background-color: silver;   
  }
  .contentttt .inleft{
      margin:20px;
      height: 850px;
  }
  .contentttt .right{
      width: 80%;
      height: 870px;
      background-color: #DDDDDD;
  }
  .contentttt .inright{
    margin: 20px;
    height: 850px;
    background-color: black;
    color: #DDDDDD;
  }
 .fooottttt{
    width: 100%;
    height: 50px;
    background-color: gray;
  }
  .aboutmeeee{
      width: 100%;
      height: 24px;
      background-color: black; 
      color: aqua;
  }
  .contentttt .left .inleft .bentrenne{
      width: 100%;
      height: 45%;
      background-color: silver;
  }
/* .contentttt .left .inleft .caisong{
    width: 30%;
    height: 1%;
    float: right;
    background-color: black;
} */
.contentttt .left .inleft .benduoine{
    width: 100%;
    height: 54%;
    background-color: silver;

}
.contentttt .left .inleft .bentrenne .logodayne{
    width: 100%;
    height: 20%;
    /* background-color: orange; */
}
.contentttt .left .inleft .bentrenne .menudayne{
    width: 100%;
    height: 80%;
    /* background-color: yellow; */
    text-align: right;
}
.contentttt .left .inleft .bentrenne .logodayne img{
    width: 60%;
    height: 100%;
    float: right;
}
.contentttt .left .inleft .bentrenne .menudayne .textgido{
    width: 100%;
    height: 25%;
    font-size: 25px;
    font-weight: bold; 
    margin-top: 5px;
    /* background-color: aqua; */
}
.contentttt .left .inleft .bentrenne .menudayne .aboutgido{
    width: 100%;
    height: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    color: #444444 ;
    /* background-color: burlywood; */
}
a{
    color: black;
}
.contentttt .left .inleft .bentrenne .menudayne .textgido p{
    font-size: 15px;
    margin: 10px 0 0 0;
    color: slategray;
}
.contentttt .left .inleft .bentrenne .menudayne .dichthilamenu{
    margin-top: 10px;
}
.contentttt .left .inleft .benduoine .menuchinhne{
   float: right;
   margin: 5px;
}
.contentttt .left .inleft .benduoine .menuchinhne br{
    margin: 5px;
}